* {
    font-size: 99%;
    font-family: 'Calibri', 'FontAwesome';
    transition: all 0.3s ease-in-out;
}

@keyframes stamp {
    0% {
        background-size: 180% 140%, 100% 100%;
    }

    100% {
        background-size: 90% 70%, 100% 100%;
    }
}

body {
    animation: stamp 1s cubic-bezier(0.6, -0.28, 1, 0.045), fadein 1s;
    /* animation: fadein 3s; */
    background-image: url('/img/new_v.svg'),
        url('/img/somewomann_in_BG_Wants_to_ShakeHands.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 90% 70%, 100% 100%;
    background-position: center, center;
    opacity: 1;
    padding-bottom: 800px !important;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide_down {
    from {
        top: 20%;
    }

    to {
        top: 22%;
    }
}

@keyframes shrink {
    from {
        width: 90%;
    }

    to {
        width: 30%;
    }
}

.navbar_container {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 5px;
    color: black;
    clear: both;
    overflow: hidden;
    height: 70px !important;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid black;
    z-index: 10000;
}

nav {
    position: relative;
    float: right;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.vinjob_logo img {
    position: inherit;
    float: left;
    transition: all 1s ease-in-out !important;
}

.vinjob_logo:hover .fa-spin-hover {
    transform: rotateY(360deg);
}

.navbar_links li {
    display: inline-block;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
}

#post_it {
    color: forestgreen;
}

#delete_it {
    color: brown;
}

#post_it:hover .fa-spin-hover {
    transform: rotateY(180deg);
}

#delete_it:hover .fa-spin-hover {
    transform: rotateY(180deg);
}

#search_it:hover .fa-spin-hover {
    transform: rotateY(180deg);
}

#form_wrapper {
    padding: 2% 3% 2% 3%;
    margin: 2% 0 2% 0;
    position: absolute;
    top: 32%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.788);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transition: all 0.3s ease-in-out !important;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -20%);
    animation: shrink 0.6s;
    backdrop-filter: blur(2px);
}

#form_wrapper:hover {
    box-shadow: 0 0 50px black;
    /* backdrop-filter: blur(10px); */
}

#job_post_form {
    padding-top: 2%;
}

#job_post_form label {
    font-size: 17px;
    font-weight: bold;
}

#job_post_form input,
#job_post_form textarea {
    float: right;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    outline: none;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    outline: none;
    border: none;
    animation: fadein 1s;
    transition: all 0.3s ease-in-out !important;
}

#job_post_form input:hover,
#job_post_form textarea:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

#job_post_form textarea {
    text-align: start;
    overflow: auto;
}

#job_post_form select {
    padding-left: 3%;
    padding-right: 2%;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    -webkit-appearance: none;
    border-radius: 5px;
    animation: fadein 1s;
    transition: all 0.3s ease-in-out !important;
}

#job_post_form select:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

#sal_min,
#exp_min,
#indstry,
#rl_ctgry {
    width: 45% !important;
    float: left !important;
    margin-right: 2.7%;
}

#sal_max,
#exp_max,
#fnctn,
#role {
    width: 45% !important;
    float: right !important;
}

/* Default option invisible( for plceholer)*/
option[value=''][disabled] {
    display: none;
}

#submit_btn {
    background-color: rgb(90, 204, 75);
    width: 15% !important;
    transform: translate(-287%, -20%);
    margin-bottom: 1%;
    transition: all 0.3s ease-in-out !important;
}
